# Dart & Flutter
.dart_tool/
.packages
build/

# IDE-specific
.idea/
.vscode/
*.iml
*.ipr

# Logs and databases
*.log
*.db

# Native Binaries
*.dll
*.so
*.dylib

# Other
.DS_Store
.dart_tool/
.dart_tool/package_graph.json
.dart_tool/package_config.json
